<div class="Content">
    <div class="Box-Title">
        <h2>Administrar Usuarios</h2>
        <div>
            <button (click)="OpenAddNotificacion()">Agregar</button>
        </div>
    </div>

    <table class="Box-Table">
        <tr>
            <th>Clave</th>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Fecha</th>
            <th>Visitas</th>
            <th>Opciones</th>
        </tr>
        <tr *ngFor="let noti of srv">
            <td>{{noti.IDNotificacion}}</td>
            <td>{{noti.Titulo}}</td>
            <td>{{noti.Descripcion}}</td>
            <td>{{noti.Fecha}}</td>
            <td>{{noti.Visitas}}</td>
            <td>
                <div class="Option">
                    <img src="/assets/editar.png" alt="" width="28px" height="28px">
                    <img src="/assets/borrar.png" alt="" width="28px" height="28px">
                </div>
            </td>
        </tr>
    </table>

</div>