<div class="Content">
    <div class="Box-Title">
        <h2>Carreras</h2>
        <div>
            <button>Agregar</button>
        </div>
    </div>

    <table class="Box-Table">
        <tr>
            <th>Clave</th>
            <th>Nombres</th>
            <th>Descripcion</th>
            <th>Encargado</th>
            <th>Opciones</th>
        </tr>
        <tr *ngFor="let Dato of Datos">
            <td>{{Dato.IDCarrera}}</td>
            <td>{{Dato.Nombre}}</td>
            <td>{{Dato.Descripcion}}</td>
            <td>{{Dato.Encargado}}</td>
            <td>
                <div class="Option">
                    <img src="/assets/editar.png" alt="" width="28px" height="28px">
                    <img src="/assets/borrar.png" alt="" width="28px" height="28px">
                </div>
            </td>
        </tr>
    </table>

</div>