<div class="Content-Dialog">
    <h2>Añadir Unidad Academica</h2>
    <form action="" class="Form-Dialog" [formGroup]="FormAddUnidad" (submit)="OnSumbitAddUindad()">
        <p>Nombre:</p>
        <input type="text" name="" id="" formControlName="Nombre">
        <p>Descripcion:</p>
        <!--input type="text" name="" id="" formControlName="Descripcion"-->
        <textarea name="" id="" cols="30" rows="10" formControlName="Descripcion"></textarea>
        <p>Encargado:</p>
        <input type="text" name="" id="" formControlName="Encargado">
        <div class="pos-end">
            <Button>Aceptar</Button>
        </div>
    </form>
</div>