<app-bar-home></app-bar-home>
<div class="Content">
    <div class="Box-Home">
        <h2>Administracion de Notificaciones</h2>
        <div class="Box-Menu">
            <div routerLink="/Usuarios">
                <img src="/assets/AdminUsers.png" alt="" width="90px" height="90px">
                <p>Administracion Usuarios</p>
            </div>
            <div routerLink="/UnidadAcademica">
                <img src="/assets/UnidadAcademic.png" alt="" width="90px" height="90px">
                <p>Unidad Academica</p>
            </div>
            <div routerLink="/Carrera">
                <img src="/assets/carrera.png" alt="" width="90px" height="90px">
                <p>Carreara</p>
            </div>
            <div routerLink="/Departamento">
                <img src="/assets/departamento.png" alt="" width="90px" height="90px">
                <p>Departamentos</p>
            </div>
            <div routerLink="">
                <img src="/assets/telefono-inteligente.png" alt="" width="90px" height="90px">
                <p>Notificar</p>
            </div>
            <div (click)="clickExit()">
                <img src="/assets/cerrar-sesion.png" alt="" width="90px" height="90px">
                <p>Cerrar Sesion</p>
            </div>
        </div>
    </div>
</div>
